/**
 * コンテナ
 */
.container-wrapper {
  background: #fff;
  padding: 40px 0;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}

/**
 * 投稿内容
 */
article {
  margin-bottom: 20px;
}
.title-post {
  margin-bottom: 10px;
}
article > p {
  margin-bottom: 1em;
}