/**
 * ブレークポイント
 */
$width_pc: 1000px;

/**
 * 文字色
 */
$color_normal: #222;
$color_link: #3a0;

/**
 * flexbox
 */
@mixin display_flex() { // フレックス・コンテナ
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex_direction_column() { // 横方向にならべる
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
      flex-direction: column;
}

@mixin justify_content_flex_end() { // 横方向の左揃え
  webkit-box-pack: end;
    -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin justify_content_space_between() { // 横方向の等間隔配置
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

@mixin align_items_center() { // 縦方向の中央揃え
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

@mixin flex_grow($grow) { // フッタを最下部に張り付かせるための設定
  -webkit-box-flex: $grow;
 -ms-flex-positive: $grow;
         flex-grow: $grow;
}