//
// タイトル
//
.main__title__wrapper {
  background: $color_bg_title;
}

.main__title {
  font-size: 1.2rem;
  color: $color_txt_rev;
  padding: 1.2rem 0;
}

//
// コンテンツ
//
.main__contents__wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

//
// 投稿本文
//
.main__contents {
  font-size: 0.95rem;
  flex-basis: $width_main_contents;
  @include flex_item_word_wrap();
  line-height: 1.4;

  & > :first-child {
    margin-top: 0;
  }

  & h2 {
    font-size: 1.6em;
    margin: 1.5em 0;
    font-weight: 700;
  }

  & p {
    margin: 1em 0;
  }

  & img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
  }

  & pre {
    background: $color_bg_mobile_gnav;
    padding: 1.5em 1em;
    font-size: 14.5px;
    border-radius: 2px;
    font-family: monospace;
    overflow: auto;
  }
}

//
// サイドバー
//
.sidebar {
  flex-basis: $width_side_contents;
  @include flex_item_word_wrap();
}

//
// サイドバー内の目次
//
.toc_widget {
  padding: 1rem;
  background: $color_bg_mobile_gnav;
  font-size: 0.9rem;

  & .widget-title {
    margin-bottom: 1.5rem;
  }
}

.toc_widget_list {
  & li {
    margin: 0.8em 0;
  }

  & ul {
    margin-left: 0.8em;
  }
}
