/**
 * コンテナ
 */
.container-wrapper {
  background: #fff;
  padding: 40px 0;

  /**
   * 最下部に張り付くフッタ
   * https://coliss.com/articles/build-websites/operation/css/css-sticky-footer.html
   */
  flex-grow: 1;
}

/**
 * 投稿内容
 */
article {
  margin-bottom: 20px;
}
.title-post {
  margin-bottom: 10px;
}
article > p {
  margin-bottom: 1em;
}

/**
 * ジャンボトロン
 */

.jumbotron {
  height: 40vw;
  background-color: gray;
  background-position: center center;
  background-size: cover;
}

.jumbotron-text-wrapper {
  padding-top: 4vw;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
.jumbotron-main {
  font-size: 2rem;
}
.jumbotron-sub {
  font-size: 1rem;
}
.jumbotron-sub:before {
  content: '';
  display: block;
  margin: 1rem 0;
  width: 100px;
  border-top: 1px solid #fff;
  box-shadow: 0 0 2px #000;
}