/**
 * グローバル
 */
html {
  height: 100%;
}

body {
  background: #fff;
  color: $color_normal;

  /**
   * iOS対策
   * http://tech.nitoyon.com/ja/blog/2013/02/14/text-size-adjust/
   */
  -webkit-text-size-adjust: 100%;

  /**
   * 最下部に張り付くフッタ
   * https://coliss.com/articles/build-websites/operation/css/css-sticky-footer.html
   */
  min-height: 100%;
  @include display_flex();
  @include flex_direction_column();
}

a {
  color: $color_link;
  text-decoration: none;
  -webkit-transition: color .3s, border .3s;
     -moz-transition: color .3s, border .3s;
       -o-transition: color .3s, border .3s;
          transition: color .3s, border .3s;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: $width_pc;
}
