/**
 * グローバル
 */
html {
  height: 100%;
}

body {
  background: $color_bg_main;
  color: $color_txt_normal;

  // iOS対策
  // http://tech.nitoyon.com/ja/blog/2013/02/14/text-size-adjust/
  -webkit-text-size-adjust: 100%;
  
  // 最下部に張り付くフッタ
  // https://coliss.com/articles/build-websites/operation/css/css-sticky-footer.html
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: $color_txt_link;
  text-decoration: none;
  transition: color .3s, border .3s;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 0 $container_padding;
  max-width: $width_pc;
}

// アウトライン構造のために作ったが、表示はさせたくないという要素
.always-hidden {
  display: none;
}

// 最下部に張り付くフッタ
// https://coliss.com/articles/build-websites/operation/css/css-sticky-footer.html
.sticky-footer {
  flex-grow: 1;
}