//
// このファイルだけで使うミックスインと変数
//
$height_header: 5.5rem;
$width_submenu: 240px;

@mixin header_item() { // ヘッダーの高さと、文字の縦方向の中央揃え
  display: flex;
  align-items: center;
  height: $height_header;
  box-sizing: border-box;
}

//
// ヘッダ
//
.header a:hover {
  text-decoration: none;
}

.header__main {
  background: #fff;
  position: relative;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.2rem;
  font-weight: 700;

  & a {
    @include header_item();
    padding-right: 1rem;
    color: #333;
  }
}

#mobile-gnav__checkbox,
.mobile-gnav__btn-wrapper,
.mobile-gnav-cover {
  display: none;
}

.mobile-gnav {
  display: none;
  position: absolute;
  background: #eee;
  z-index: 1;
  transform: translateY(-105%);
  width: 100%;
  transition: transform .3s;
  box-shadow: 0 0 1px #888;
}

.mobile-gnav__btn:before {
  content: "\e9bd"; // .icon-menu (IcoMoon)
}

//
// グローバルナビ
//
.pc-gnav {
  font-size: 0.9rem;

  & .menu {
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    & li {
      position: relative;
    }

    //
    // 先頭メニュー
    //
    & > li {
      margin: 0 0.5rem;

      & > a {
        @include header_item();
        color: $color_normal;
        padding: 0 0.5rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      &:hover > a {
          border-top: 2px solid $color_link;
          color: $color_link;
      }
    }
  }

  //
  // サブメニュー
  //
  & .sub-menu {
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #eee;
    width: $width_submenu;

    & a {
      display: block;
      font-size: 0.85rem;
      padding: 0.7rem 1rem;
      color: $color_normal;

      &:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 0 0.5em 2px 0;
        border-top: 1px solid #aaa;
        border-right: 1px solid #aaa;
        transform: rotate(45deg);
      }
    }

    & li:hover > a {
      color: $color_link;
    }

    & .sub-menu { // 第2サブメニュー
      top: 0;
      right: ($width_submenu - 1);
    }
  }

  & li:hover > .sub-menu { // 親メニューホバー時のサブメニュー
      opacity: 1.0;
      visibility: visible;
  }
}
