/**
 * このファイルだけで使うミックスインと変数
 */
@mixin header_item() { // ヘッダーの高さと、文字の縦方向の中央揃え
  @include display_flex();
  @include align_items_center();
  height: 5.5rem;
  box-sizing: border-box;
}

$width_submenu: 240px;

/**
 * ヘッダ
 */
header a:hover {
  text-decoration: none;
}

.header-inner {
  @include display_flex();
  @include justify_content_space_between();
}

.site-logo { // サイトロゴ
  font-size: 1.2rem;
  font-weight: 700;

  & a {
    @include header_item();
    padding-right: 1rem;
    color: #333;
  }
}

.mobile-menu-btn-wrapper { // ハンバーガーメニューのボタンは非表示
  display: none;
}

// .globalnavi-open {
//   display: block !important;
// }
// .globalnavi-close {
//   display: none !important;
// }
#menu-checkbox {
  display: none;
}


/**
 * グローバルナビ
 */
.globalnavi {
  font-size: 0.9rem;

  & .menu {
    @include display_flex();
    @include justify_content_flex_end();

    & li {
      position: relative;
    }

    /**
     * 先頭メニュー
     */
    & > li {
      padding: 0 0.5rem;

      & > a {
        @include header_item();
        color: $color_normal;
        padding: 0 0.5rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
      &:hover > a {
          border-top: 2px solid $color_link;
          color: $color_link;
      }
    }
  }

  /**
   * サブメニュー
   */
  & .sub-menu {
    display: none;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    width: $width_submenu;
    right: 0;

    & a {
      display: block;
      font-size: 0.85rem;
      padding: 0.7rem 1rem;
      color: $color_normal;

      &:hover {
        color: $color_link;
      }

      &:before {
        content: ">";
        padding-right: 0.4em;
        display: inline-block;
        color: #aaa;
      }
    }

    & .sub-menu { // 第2サブメニュー
      right: ($width_submenu - 1);
      top: 0;
    }
  }

  & li:hover > .sub-menu { // 親メニューホバー時のサブメニュー
    display: block;
  }
}
