//
// このファイルだけで使うミックスインと変数
//
$height: 4rem;
$gnav_item_padding: 1em;

//
// ヘッダー (モバイル向け)
//
@media screen and (max-width: $mobile_max) {
  .header__main {
    box-shadow: 0 0 3px #999;
  }
  .header__inner {
    display: block;
    position: relative;
    z-index: 9999;
  }

  .header__logo {
    display: inline-block;
    font-size: 1rem;
    & a {
      height: $height;
    }
  }

  .mobile-gnav__btn-wrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mobile-gnav__btn {
    @include header_item();
    color: #666;
    font-size: 1.5rem;
    height: $height;
    cursor: pointer;
  }

  // PC向けグローバルナビは非表示に
  .pc-gnav {
    display: none;
  }

  // メニューをスライドダウンさせる
  .mobile-gnav__checkbox:checked ~ .mobile-gnav {
    transform: translateY(0);
  }

  .mobile-gnav__checkbox:checked ~ .header__main .mobile-gnav__btn:before {
    content: "\ea0f"; // .icon-cross (IcoMoon)
    font-size: 1.4rem;
  }

  //
  // モバイル向けグローバルナビ
  //
  .mobile-gnav {
    display: block;
    padding: 1rem 0;
    box-shadow: 0 0 3px #999;
    position: absolute;
    background: $color_bg_mobile_gnav;
    z-index: 1;
    transform: translateY(-105%);
    width: 100%;
    transition: transform .3s;

    & a {
      color: $color_txt_normal;
      font-size: 0.9rem;

      &:hover {
        color: $color_txt_link;
      }
    }

    & li {
      margin-top: $gnav_item_padding;
    }

    & .menu > li {
      padding-bottom: $gnav_item_padding;
      border-bottom: 1px dashed #ccc;

      &:last-child {
        border-bottom: 0;
      }
    }

    & .current-menu-item > a {
      font-weight: bold;
      color: $color_txt_link;
    }

    & .sub-menu {
      padding-left: 0.8em;
    }
  }

  .mobile-gnav__inner {
    columns: 2 auto;
    column-gap: 3em;
    column-rule: solid #ccc 1px;
  }

  // スマートフォンなどの画面幅の狭いモバイルでは、
  // グローバルメニューは1列で表示する
  @media screen and (max-width: $mobile_gnav_single_max) {
    .mobile-gnav__inner {
      column-count: 1;
    }
  }
}