/**
 * このファイルだけで使うミックスインと変数
 */
$height: 4rem;

/**
 * ヘッダ (モバイル向け)
 */
@media screen and (max-width: $mobile_max) {
  .header-inner {
    display: block;
    position: relative;
    z-index: 9999;
  }

  .header-logo {
    display: inline-block;
    font-size: 1rem;
    & a {
      height: $height;
    }
  }

  .mobile-gnav-btn-wrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    & .mobile-gnav-btn {
      @include header_item();
      color: #666;
      font-size: 1.5rem;
      padding: 0.2rem 0.5rem;
      height: $height;
      cursor: pointer;
    }
  }

  .globalnavi { // PC向けグローバルナビは非表示に
    display: none;
  }
  /**
   * モバイル向けグローバルナビ
   */
  .mobile-gnav {
    display: block;

    & .mobile-gnav-close-wrapper {
      text-align: right;

      & .mobile-gnav-close {
        color: #666;
        font-size: 1.2rem;
        padding: 0.2rem;
      }
    }

    & a {
      color: $color_normal;

      &:hover {
        color: $color_link;
      }
    }
  }

  .mobile-gnav-checkbox:checked ~ .mobile-gnav {
    transform: translateY(0);
  }

  .mobile-gnav-checkbox:checked ~ header .mobile-gnav-btn:before {
    content: "\ea0f"; /* .icon-cross from IcoMoon */
    font-size: 1.4rem;
  }
}